
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>The starting files are made by The App Brewery, will be changing them to my own later :)</p>
  </div>
</div>

<script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
<script src="js/editor.js"></script>
</body>
</html>
