
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <a href="https://www.github.com/ahmedkhaledak" target="_blank">  <i class="fa fa-github" style="font-size:48px;"></i></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://linkedin.com/in/ahmed-khaled-210949120/" target="_blank">  <i class="fa fa-linkedin" style="font-size:48px;"></i></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/email" target="_blank">  <i class="fa fa-envelope" style="font-size:48px;"></i></a>
    <!-- <p>The starting files are made by The App Brewery, will be changing them to my own later :)</p> -->
  </div>
</div>
</body>
</html>
