<%- include("partials/header") %>
<h1>My Resume</h1>
<p>Download it from here: <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1Gd3-ZUnc8gGdHFZhOePgYzvGgrIChjIr/view?usp=sharing" role="button"
  target="_blank">Download</a></p>

<iframe src="https://docs.google.com/viewer?srcid=1Gd3-ZUnc8gGdHFZhOePgYzvGgrIChjIr&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="1000px" height="1000px"></iframe>

<%- include("partials/footer") %>
